


/* ------------------------------------------------------------ *\
    01. Base CSS Reset
\* ------------------------------------------------------------ */

body {
 background: #fff;
 font-size: 15px;
 color: #213a71;
 margin: 0;
 padding: 0;
 text-align: left;
 direction: ltr;
 unicode-bidi: embed;
 overflow-x: hidden;
 letter-spacing: 0.25;
}

#wrapper {
 line-height: 1.6;
 margin: 0 auto;
 position: relative;
 width: auto;
 background: #fff;
}

select::-ms-expand {
 display: none;
}


/* ------------------------------------------------------------ *\
    02. Fonts
\* ------------------------------------------------------------ */
 
 @font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Thin.ttf');
 }

/* ------------------------------------------------------------ *\
    03. Base Css
\* ------------------------------------------------------------ */

*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 outline: 0 none;
 padding: 0;
}

*:focus {
 outline: 0;
}

a {
 text-decoration: none;
 outline: none;
 cursor: pointer;
}

img {
 display: inline-block;
 height: auto;
 vertical-align: middle;
}

img, iframe {
 border: 0 none;
}

img, iframe, video, audio, object {
 max-width: 100%;
}

ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

body {
 margin: 0 !important;
 padding: 0 !important;
 background: #fff !important;
 letter-spacing: 0.25 !important;
 line-height: 1.6 !important;
}

body, p, div, span, button, i, label, a, input, select, textarea, option {
 font-family: "Montserrat", Helvetica, Arial;
 font-size: 18px;
 letter-spacing: 0.38px;
 font-weight: 600;
}

#wrapper {
 margin: 0 auto !important;
 width: 100% !important;
 float: left;
 padding: 0;
 background: #fff;
}

.col-full {
 width: 100%;
 float: left;
}

h1 {
 font-family: "Montserrat", Georgia, sans-serif;
 font-size: 42px;
 width: 100%;
 float: left;
 text-align: center;
 letter-spacing: 0.56px;
 font-weight: bold;
 line-height: 1.3;
}

h2 {
 font-family: "Montserrat", Georgia, sans-serif;
 font-size: 28px;
 font-weight: 600;
 line-height: 1.32;
 letter-spacing: 0.34px;
}

p {
 font-size: 18px;
 letter-spacing: 0.38px;
 font-weight: 500;
}

.sub-header {
 width: 100%;
 float: left;
 text-align: center;
 margin: 15px 0px;
}

.button {
 width: auto;
 max-width: 320px;
 text-align: center;
 padding: 10px 10px;
 border-radius: 100px;
 font-size: 14px;
 border: 1px solid transparent;
 display: inline-block;
 letter-spacing: 0.5px;
 font-family: "Montserrat", Helvetica, Arial;
 font-weight: 600;
}

.primary-btn{
   border-color: #213A71;
   color: #213A71;
   padding:8px 20px;
   transition: 0.3s;
}

.primary-btn:hover{
  background-color: #213A71;
  color:#fff ;
}
.btn-product{
 border-width: 1px;
    border-image: linear-gradient( 
45deg
 , #9CC43C 0%, #27AAE1 100%);
    border-image-slice: 9;
    border-style: solid;
    padding: 13px 29px;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.section-div {
 width: 100%;
 float: left;
 position: relative;
 overflow-x: hidden;
}

.center-container{
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
 position: relative;
}

.desk-show {
 display: block;
}

.mob-show, .show-more, .show-less {
 display: none;
}

.none {
 display: none;
}
.pb0{
  padding-bottom: 0 !important;
}
@media all and (max-width: 767px) {
 h1 {
  font-size: 24px;
 }
 h2 {
  font-size: 25px;
 }
 body, p, div, span, button, i, label, a, input, select, textarea, option {
  font-size: 15px;
  font-weight: 500;
 }
 .desk-show {
  display: none !important;
 }
 .mob-show {
  display: block;
 }

}

/* ------------------------------------------------------------ *\
    04. Animation
\* ------------------------------------------------------------ */

.toanimate {
 position: relative;
 -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
 transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
 opacity: 0;
}

.toanimate.animate {
 opacity: 1;
}

.toanimate-left {
 left: -400px;
}

.toanimate-left.animate {
 left: 0;
}

.toanimate-right {
 right: -400px;
}

.toanimate-right.animate {
 right: 0;
}

.toanimate-bottom {
 bottom: -100px;
}

.toanimate-bottom.animate {
 bottom: 0;
}

@media (max-width: 767px) {
 .toanimate {
  opacity: 1;
 }
 .toanimate-left {
  left: 0;
 }
 .toanimate-right {
  right: 0;
 }
 .toanimate-bottom {
  bottom: 0;
 }
}

/**** 4.1 spinner ****/

.spiner-holder {
 width: 100vw;
 height: 100vh;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 z-index: 9999;
 position: fixed;
 background: #000;
}

.spiner {
 position: relative;
 margin: 50% auto;
 width: 20px;
 height: 20px;
}

.spiner:before {
 display: block;
 content: "";
 position: absolute;
 background-image: url("../images/spin.jpg");
 background-size: cover;
 background-position: center center;
 border-radius: 50%;
 width: 104%;
 height: 104%;
 -webkit-animation-name: loading;
 animation-name: loading;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 z-index: 1;
}

.spiner:after {
 display: block;
 content: "";
 position: absolute;
 border-radius: 50%;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 width: 98%;
 height: 98%;
 z-index: 0;
}

@-webkit-keyframes loading {
 from {
  -webkit-transform: rotate(0);
  transform: rotate(0);
 }
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

@keyframes loading {
 from {
  -webkit-transform: rotate(0);
  transform: rotate(0);
 }
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

/* ------------------------------------------------------------ *\
    05. Article
\* ------------------------------------------------------------ */

article {
 background: #fff;
 position: relative;
 z-index: 20;
}

.article-inner {
 padding: 35px 58px 46px 15px;
 display: inline-block;
}

.article-top {
 margin-top: 50px !important;
}

.article-title {
 font-size: 42px;
 margin-bottom: 20px;
 font-weight: 500;
 margin-top: 0;
 text-align: left;
}

.article-subtitle {
 font-size: 20px;
 margin-bottom: 20px;
 font-weight: 200;
}

.article-inner p {
 color: #000;
 width: 100%;
 float: left;
 font-weight: 200;
}

.article-inner p a {
 color: #000;
 text-decoration: underline;
 font-size: 18px;
}

.article-button-area {
 width: 100%;
 float: left;
 text-align: left;
 margin-top: 30px;
}

.article-btn {
 border: 1px solid #000;
 background: #fff none repeat scroll 0 0;
 color: #000;
 display: inline-block;
 padding: 12px 0;
 width: 200px;
 font-size: 14px;
}

.pink-btn {
 border: 1px solid #000;
 background: #fff none repeat scroll 0 0;
 color: #000;
 display: inline-block;
 padding: 12px 0;
 /*text-transform: uppercase;*/
 width: 200px;
 font-size: 14px;
}

.pink-btn:hover {
 background: #FF008E;
 border: 1px solid #FF008E;
 color: #fff;
}

@media all and (max-width:767px) {
 .article-title {
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
 }
 .article-btn {
  padding: 10px 15px;
  width: auto;
  min-width: 150px;
  margin: 0 auto;
  float: left !important;
  font-weight: 300;
 }
 .article-button-area {
  margin-top: 30px;
 }
 .article-inner p {
  text-align: left;
  font-weight: 300;
 }
 .article-inner p a {
  color: #000;
  text-decoration: underline;
  font-size: 15px;
 }
 .article-subtitle {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Montserrat", Georgia, sans-serif;
  letter-spacing: 0.38px;
  font-weight: 300;
  line-height: 1.6;
 }
 .article-inner {
  margin: 0 auto;
  padding: 40px 35px 36px 35px;
  background: #fff;
  max-width: 280px;
  margin-top: -50px;
 }
}

/* ------------------------------------------------------------ *\
    06. Header
\* ------------------------------------------------------------ */

header {
 width: 100%;
 float: left;
 background: #fff;
 padding: 10px 30px;
 border-bottom: 1px solid #e8e8e8;
}

.row-head {
 width: 100%;
 margin: 0 auto;
 max-width: 1200px;
}

.head-logo {
 width: 20%;
 float: left;
 padding: 0 10px;
}

.head-logo img {
 width: auto;
    height: 118px;
}

.head-link {
 width: 80%;
 float: left;
}

.head-link ul {
  float: right;
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.head-link ul li {
 width: auto;
 float: left;
 padding: 45px 20px 0;
}

.head-link ul li a {
 width: auto;
    float: left;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #223A71;
}
.head-link ul li a:hover{
  text-decoration: underline;
}
.head-link ul li.active a{
  text-decoration: underline;
}
.ham-btn {
 padding: 11px 0 0;
 color: #000;
}

.head-btn {
 background: #000;
 color: #fff;
}

.contact-btn:hover {
 text-decoration: underline;
}

@media all and (max-width: 767px) {
 header {
  padding: 10px 0;
 }
 .row-head {
  padding: 0;
 }
 .head-logo img {
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 100%;
  padding-top: 3px;
 }
 .head-link ul li {
  padding: 0 10px;
 }
 .head-link ul li a {
  font-weight: 300;
 }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
 .head-logo {
  width: 20%
 }
 .head-link {
  width: 80%;
  float: right;
 }
 .head-link ul li {
  padding: 6px 0 0;
 }
}

/* ------------------------------------------------------------ *\
    07. Mobile Menu
\* ------------------------------------------------------------ */

.is-not-scrollable {
 overflow: hidden !important;
 height: 100%;
}

.mobOverlay {
 width: 100%;
 height: 100%;
 background: #0b0b0b;
 opacity: 0.8;
 position: absolute;
 z-index: 998;
 top: 0;
 -webkit-transition: all .5s ease-out;
 transition: all .5s ease-out;
}

.mobContainer {
 width: 100%;
 position: fixed;
 z-index: 9991;
 top: 0;
 bottom: 0;
 height: 100%;
 background: #fff;
 -webkit-transition: all .5s ease-out;
 transition: all .5s ease-out;
 opacity: 1;
 overflow-x: hidden;
 overflow-y: scroll;
 -webkit-overflow-scrolling: touch;
}

.mobMenuMain {
 position: relative;
 width: 100%;
 float: left;
 height: auto;
 padding-bottom: 20px;
 background: #fff;
}

.mobFade {
 opacity: 0;
 visibility: hidden;
}

.mob-menu-header {
 width: 100%;
 float: left;
 margin-bottom: 10px;
}

.mob-menu-logo {
 width: 70%;
 float: left;
 padding: 20px;
}

.mob-menu-logo p {
 font-size: 15px;
 color: #000;
 font-family: Montserrat, serif;
}

.mob-menu-close {
 width: 95%;
 float: left;
}

.menu-close {
 padding: 15px 0;
    color: #223A71;
    text-decoration: none;
    float: right;
    font-size: 20px;
    font-weight: 600;
}

.mob-menu-box {
 width: 100%;
 padding: 0 20px;
 float: left;
}

.mob-menu-box ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
 width: 100%;
 float: left;
 border: 1px solid #ccc;
}

.mob-menu-box ul li {
 width: 100%;
 float: left;
 border-bottom: 1px solid #ccc;
 -webkit-transform: scale(1.15) translateY(-30px);
 transform: scale(1.15) translateY(-30px);
 opacity: 0;
 -webkit-transition: opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);
 transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99);
 transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99), -webkit-transform .5s cubic-bezier(.4, .01, .165, .99);
}

.mobActive ul li {
 -webkit-transform: scale(1) translateY(0);
 transform: scale(1) translateY(0);
 opacity: 1;
}

.mob-menu-box ul li:last-child {
 border-bottom: 0;
}

.mob-menu-box ul li a {
 width: 100%;
    float: left;
    color: #223A71;
    text-decoration: none;
    padding: 20px 15px;
    font-weight: 600;
    font-family: "Montserrat", Helvetica, Arial;
}

.mobMenuBtn span {
 font-size: 14px;
 font-weight: 300;
}

/* ------------------------------------------------------------ *\
    08. Hero Section
\* ------------------------------------------------------------ */
.hero-section{
  width: 100vw;
    height: 467px;
    float: left;
    background: url(../images/banner.png);
    background-size: cover;
    background-position: bottom right;
    position: relative;
    background-repeat: no-repeat;
}
.slider {
  position: relative;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto 0;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides h2{
color: #fff;
    font-size: 35px;
    line-height: 43px;
    padding: 147px 0 13px;
}

.rslides h3{
color:#22376F;
font-size: 40px;
line-height: 49px;
letter-spacing: 4.5px;
font-weight: bold;
text-transform:uppercase;
padding-bottom: 6px;
}

.rslides h4{
color:#fff;
font-size: 35px;
line-height: 43px;
padding-bottom: 68px;
}
.rslides p{
color:#223A71;
font-size: 20px;
line-height: 24px;
font-weight: 600;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  .callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:11px;
  width: 11px;
  display: inline-block;
  border: 2px solid #22376F;
  border-radius:50%;
  background:#22376F;
}
.callbacks_here a:after{
  border: 2px solid #22376F;
  background:transparent;
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 50%;
}

@media all and (max-width:767px) {
  .hero-section {
    background-position: left;
}
.slider {
    max-width: 320px;
  }
.rslides h2 {
    font-size: 25px;
    line-height: 28px;
    padding: 70px 0 13px;
}
.rslides h3 {
    font-size: 30px;
    line-height: 39px;
}
.rslides h4 {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 58px;
}
.rslides p {
    color: #223A71;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
ul.callbacks_tabs.callbacks1_tabs {
  bottom: -40%;
  z-index: 999;
  left: 40%;
}
}
/*about-us*/
.about-us{
  padding: 153px 0 0;
}
.img-collage{
  width: 40%;
  float: left;
  position: relative;
}
.img-1{
padding-right: 10px;

}
.img-2{
position: absolute;
    top: 0;
   
}
.img-3{
position: absolute;
    bottom: 0;
   
}
.img-1,.img-2,.img-3{
 -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.img-1:hover,.img-2:hover,.img-3:hover{
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.about-content{
  width: 60%;
  float: left;
}
.about-content span{
  font-size: 10px;
  line-height: 18px;
  color: #213A71;
  font-weight: 600;
}
.about-content h1{
  color: #213A71;
  font-size: 28px;
  line-height: 30px;
  text-align: left;
  padding: 15px 0;
}
.about-content p{
  color: #213A71;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}
.about-content a{
  width: 100%;
  float: left;
  color:#9CC43C ;
  font-size: 12px;
  line-height: 15px;
  padding-top: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.about-content ul{
  display: inline-flex;
}
.about-content ul li{
  text-align: center;
  padding-top: 47px;
}
span.count{
  color: #0473BA;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.about-content i{
  color: #0473BA;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}
.count-text{
  width: 100%;
  float: left;
  font-size: 10.8px;
  line-height: 13px;
  color: #0473BA;
}
@media all and (max-width:767px) {
  .about-us {
      padding: 96px 15px;
  }
  .img-collage, .about-content{
      width: 100%;
  }
  .about-content {
    padding-top: 20px;
  }
  .img-1 {
      width: 52%;
  }
  .img-2,.img-3 {
      width: 49%;
  }
  .about-content h1 {
    font-size: 26px;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-content span {
    font-size: 9px;
  }
  .about-content ul li {
    padding-top: 40px;
  }
  span.count {
      font-size: 20px;
  }

}
/* ------------------------------------------------------------ *\
    title-sectio
\* ------------------------------------------------------------ */
.title-section{
  padding: 81px 0;
}
.title-section p{
  text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #A7A9AC;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
}
.title-section h1{
  color: #213A71;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.slider-div{
  width: 45%;
  float: left;
}
.slider-div ul {
  width: 100%;
    float: left;
    height: 400px;
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
  padding: 0;
  list-style-type: none;
}

.slider-div li {
  width: 33%;
  float: left;
  margin-right: 20px;
}

.slider-div li img {
  max-width: 100%;
  text-align: center;
}
.pumps-section{
   width: 100vw;
    height: 400px;
    float: left;
    background: url(../images/Product-right-2.jpg);
    background-size: contain;
    background-position: right;
    position: relative;
    background-repeat: no-repeat;
}
.pumps-content{
width: 50%;
    float: left;
  padding: 7em 5em;
}
.pumps-content h1{
  text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 20px;
}
.pumps-content p{
    font-size: 14px;
    line-height: 18px;
     padding-bottom: 25px;
}
@media all and (max-width:767px) {
.pumps-section {
  height: auto;
   background: transparent;
}
.slider-div {
    width: 100%;
    padding-bottom: 50px;
}
.slider-div ul{
  height: auto;
    overflow-x: hidden;

}
.pumps-content {
    width: 100%;
    float: left;
    padding: 1em;
    background: url(../images/Product-right-2.jpg);
    background-size: contain;
    background-position: right;
    position: relative;
    background-repeat: no-repeat;
}
}
/* ------------------------------------------------------------ *\
    Fans-section
\* ------------------------------------------------------------ */
.fans-section{
   width: 100vw;
    height: 400px;
    float: left;
    background: url(../images/CFans.jpg);
    background-size: contain;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
}
.fans-content{
width: 55%;
    float: left;
  padding: 7em 5em;
}
.fans-content h1{
  text-align: right;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 20px;
}
.fans-content p{
    font-size: 14px;
    line-height: 18px;
     padding-bottom: 25px;
     text-align: right;
}
@media all and (max-width:767px) {
.fans-section {
  height: auto;
   background: transparent;
}

.fans-content {
    width: 100%;
    float: left;
    padding: 1em;
    background: url(../images/CFans.jpg);
    background-size: contain;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
}
}
/* ------------------------------------------------------------ *\
    Cabels-section
\* ------------------------------------------------------------ */
.cables-section{
   width: 100vw;
    height: 400px;
    float: left;
    background: url(../images/Cables.jpg);
    background-size: contain;
    background-position: right;
    position: relative;
    background-repeat: no-repeat;
}
.cables-content{
width: 50%;
    float: left;
  padding: 7em 5em;
}
.cables-content h1{
  text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 20px;
}
.cables-content p{
    font-size: 14px;
    line-height: 18px;
     padding-bottom: 25px;
}
@media all and (max-width:767px) {
.cables-section {
  height: auto;
   background: transparent;
   margin: 0 0 64px;
}

.cables-content {
    width: 100%;
    float: left;
    padding: 1em;
    background: url(../images/Cables.jpg);
    background-size: contain;
    background-position: right;
    position: relative;
    background-repeat: no-repeat;
}
}
/* ------------------------------------------------------------ *\
    Slick Slider
\* ------------------------------------------------------------ */

.slider {
  width: 100%;
}

.slick-slide {
  margin: 0;
}

.slick-slide img {
  max-width: 100%;
}

.slick-next::before{
  border: none;
  background: url(../images/right_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 50%;
}

.slick-prev::before{
  border: none;
  background: url(../images/right_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 44%;
}

.slick-arrow{
  font-size: 0;
  text-indent: -4004px;
  position: absolute;
  top: 00%;
  z-index: 9;
  cursor: pointer;
  background: none;
  border: 0;
  height: 100%;
  width: 90px;
}

.slick-prev {
  left: -3%;
}

.slick-next {
  right: 0;
  transform: rotate(180deg);
}

.slick-arrow:before{
  display: inline-block;
  content: '';
  position: absolute;
  left: 50%;
  margin-top: -20px;
  margin-left: -67%;
}

.slick-prev:before{
  margin-left: -67%;
}
.responsive span{
  font-size: 10px;
    text-transform: uppercase;
    line-height: 12px;
    color: #063574;
    font-weight: 400;
}
.responsive p{
  font-size: 14px;
    line-height: 16px;
    color: #063574;
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  margin: 0 auto;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 7% 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
@media all and (max-width:747px) {
  .slick-prev {
    left: -4%;
  }
  .slick-next {
    right: -4%;
  }
  .slick-list {
    padding: 0;
  }
  .slick-prev:before {
    margin-left: -32%;
}
.slick-arrow:before {
    margin-left: -45%;
}
}

/*industries-section*/
.industries-section{
  width: 100%;
  height: auto;
  float: left;
  background: url(../images/insdustries-banner.jpg) no-repeat center;
  background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.ins-div{
  width: 100%;
  float: left;
}
.ins-div::before {
  content: '';
    width: 100%;
    height: 255px;
    float: left;
    position: absolute;
    background: url(../images/Banner-center.png) no-repeat center;
    top: 32px;
}
.ins-div h1{
  font-size: 105px;
  line-height: 128px;
  padding: 32px 0 7px;
  color: #fff;
  font-weight: bold;
}
.ins-div p{
  font-size: 40px;
  line-height: 49px;
  padding: 0 0 139px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.ins-img-div{
  width: 100%;
  float: left;
  display: flex;
}
.domos-img{
  width: calc(100% + 60px);
  height: 326px;
  float: left;
  background: url(../images/domostic.jpg) no-repeat center;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.agri-img{
  width: calc(100% + 60px);
  height: 326px;
  float: left;
  background: url(../images/agri-culture.jpg) no-repeat center;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.indus-img{
  width: calc(100% + 60px);
  height: 326px;
  float: left;
  background: url(../images/industrial.jpg) no-repeat center;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.domos-img::after,.indus-img::after {
    background: rgb(2 114 186 / 50%) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.agri-img::after {
    background: rgb(156 196 60 / 50%) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.ins-img-div p{
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold; 
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}
@media all and (max-width:747px) {
.ins-div h1 {
    font-size: 46px;
    line-height: 49px;
    padding: 32px 0 7px;
}
.ins-div p {
    font-size: 28px;
    line-height: 31px;
    padding: 0 0 80px;
}
.ins-img-div {
    width: 100%;
    display: block;
}
.domos-img,.agri-img,.indus-img {
    width: 100%;
    height: 200px;
}
.ins-div::before {
    content: '';
    width: 100%;
    height: 130px;
    top: 32px;
    background-size: contain;
}
}

/*features-section*/
.features-section{
  padding:0 0;

}
.bg-blue::before {
  content: '';
    background: #9CC43C;
    width: 100%;
    float: left;
    height: 269px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
}
.features-left{
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
}
.features-left img{
  margin-top: -9em;
}
.features-right{
  width: 50%;
  float: left;
  position: relative;
   margin-top: -2em;
}
.features-box{
  background: #223A71;
  width: 160px;
  height: 160px;
    float: left;
    margin: 5px;
    text-align: center;
    line-height: 160px;
}

@media all and (max-width:767px) {
  .features-section {
    padding: 0;
    background: #9CC43C;
}
  .features-right{
    width: 100%;
    float: left;
    position: relative;
    margin-top: 0em;
    padding: 15px;
  }
  .bg-blue::before {
    content: '';
    background: transparent;
}
}
/*inquire-section*/
.inquire-section{
  background: linear-gradient(180deg,#fff 54%,#0B1B29 50%);
  padding-top: 153px;
}
.inquire-div{
  background-image: linear-gradient(90deg, #9CC43C, #27AAE1);
  padding:5px 20px;
}
.inq-cta{
  border-color: #fff;
   color: #fff;
   padding:8px 20px;
   transition: 0.3s;
}
.inquire-div{
display: flex;
    align-items: center;
}
.inquire-div p{
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
}
.area-cta{
  width: 60%;
  float: right;
  text-align: right;
}
@media all and (max-width:767px) {
  .inquire-section{
    padding-top: 50px;
    background: transparent;
  }
  .inquire-div {
  display: block; 
   align-items: center; 
    width: 100%;
    float: left;
}
.area-cta {
    width: 100%;
    float: left;
    text-align: left;
}
.inquire-div p {
    padding: 15px 0;
}
}
/*footer*/
footer{
  background: #0B1B29;
  padding:130px 0 1em;
}
.addre-div{
  width: 28%;
  float: left;
}
.addre-div address,.contact-div address{
color:#9CC43C;
font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}
.contact-div address i{
padding-right: 5px;
}
.footer-title{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 23px;
  color:#58AFE2;

}
.footer-grey-title{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 23px;
  color:#939598;
}
.pro-div,.indus-div,.link-div{
  width: 20%;
  float: left;
}
.link-div ul li,.pro-div ul li,.indus-div ul li{
  padding: 5px 0;
}
.contact-div{
  width: 12%;
  float: left;
}
.contact-div ul li{
  list-style: none;
}
.social-div{
  width: 100%;
  float: left;
  padding: 50px 20px 30px;
}
.social-div ul{
  display: flex;
    justify-content: center;
    list-style: none;
}
.social-div ul li a i{
  width: 44px;
  height: 44px;
  line-height: 44px;
  background: #9CC43C;
  border-radius: 50px;
  color: #fff;
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
}
.copywrite{
  width: 100%;
  float: left;
  text-align: center;
  color:#A7A9AC;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

}

@media all and (max-width:767px) {
  footer {
    background: #0B1B29;
    padding: 50px 20px;
}
  .addre-div {
    width: 100%;
    float: left;
    padding: 0 0 20px
}
.link-div{
     width: 45%; 
    float: left;
    padding: 0 0 20px
}
 .pro-div{
 width: 30%; 
    float: left;
    padding: 0 0 20px
 }
 .indus-div {
 width: 25%; 
    float: left;
    padding: 0 0 20px
 }
.contact-div {
    width: 100%;
    float: left;
}
}

/*about-section*/
.about-section{
  background-image: linear-gradient(
90deg
, #9CC43C, #27AAE1);
  padding: 35px 0;
}
.about-section h1{
  text-align: left;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 20px;
}
.vision-div,.mission-div{
  width: 50%;
  float: left;
  padding: 50px 0 98px;
}
.vision-div h2{
  color: #9CC43C;
  font-weight: bold;
  font-size: 21px;line-height: 26px;padding-bottom: 12px;
}
.vision-div p{
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 31px 52px;
  background: #223A71;
  min-height: 165px;
}
.mission-div h2{
  color: #223A71;
  font-weight: bold;
  font-size: 21px;line-height: 26px;padding-bottom: 12px;
  text-align: right;
}
.mission-div p{
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 31px 52px;
  background: #9CC43C;
  min-height: 165px;
}
@media all and (max-width:767px) {
  .vision-div, .mission-div {
    width: 100%;
    float: left;
    padding: 50px 0 0;
}
.mission-div h2{
  text-align: left;
}
.vision-div p,.mission-div p {
    padding: 31px;
}
}
/*metrics-section*/
.metrics-section{
  background:#EFF7FD;
  padding: 72px 0 40px;
}
.metrics-section h1{
  font-size: 25px;
  line-height: 30px;
  color: #9CC43C;
  padding-bottom: 13px;
}
.metrics-section p{
  font-size: 18px;
  line-height: 22px;
  color: #223970;
  padding-bottom: 75px;
  text-align: center;
}
.metrics-box{
  width: 33%;
  float: left;
  text-align: center;
}
.metrics-box p{
font-size: 16px;
    line-height: 20px;
    padding: 40px;
    max-width: 355px;
    margin: 0 auto;
}
@media all and (max-width:767px) {
  .metrics-box {
    width: 100%;
}
}
/*policy-section*/
.policy-section{
  background: url(../images/about/green-banner.jpg) center no-repeat;
    background-size: cover;
    height: 200px;
    width: 100vw;
}
.policy-section h1{
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  padding: 32px 0 22px;
  text-transform: uppercase;
}
.policy-section p{
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
@media all and (max-width:767px) {
  .policy-section {
    height: 265px;
}
.policy-section p {
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
}
}
/*promoters-section*/
.promoters-section{
  background: #EFF7FD;
    padding: 72px 0;
}
.promoters-left{
  width: 50%;
  float: left; 
}
.prom-img{
  width: 100%;
  height: 361px;
  background-image: url(../images/about/promoters1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prom-div{
  width: 30%;
    float: left;
    margin-right: 15px;
}
.prom-div p{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding:20px 0 2px;
}
.prom-div span{
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 11px;
  text-transform: uppercase;
}
.prom-div a{
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 17px;
color:#223A71;
text-align: center;

}
.promoters-right{
  width: 50%;
  float: left;
}
.prom-content{
  width: 100%;
  float: left;
  padding: 35px;
}
.prom-content h1{
  color: #9CC43C;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  text-transform: uppercase;
  text-align: left;
}
.prom-content h2{
  color: #0372BA;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  padding-bottom: 29px;
  text-transform: uppercase;
}
.prom-content p{
  color: #223970;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    max-width: 420px;
}
@media all and (max-width:767px) {
  .promoters-left,.promoters-right {
    width: 100%;
  }
  .prom-content {
    padding: 35px 20px;
  }
  .prom-content h1 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
}
  .prom-content h2 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 15px;
}
.prom-content p {
    font-size: 16px;
    line-height: 22px;
}
}
/*self-pump-section*/
.self-pump-section{
  padding: 122px 0 0;
}
.self-pump-section:last-child{
  padding-bottom: 100px;
}
.self-pump-section h1{
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 52px;
  color:#223A71;
  text-transform: uppercase;
}
.self-pump-section h2{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color:#9CC43C;
  padding-bottom: 50px;
 text-align: center;
 text-transform: uppercase;
}
.pro-slider-div{
  width: 100%;
  float: left;
  text-align: center;
  border-right: 1px solid rgb(65 64 66 / 50%);
}
.pro-slider-div:last-child{
  border-right: 1px solid transparent;
}
.pro-slider-div img{
  text-align: center;
    width: 106px;
    height: 106px;
    display: inline;
}
.pro-slider-div h3{
font-size: 20px;
line-height: 24px;
font-weight: bold;
padding-bottom: 11px;
}
.pro-slider-div p{
font-size: 14px;
    line-height: 18px;
    color: #000;
    padding: 16px 0;
}
.pro-slider-div a{
font-size: 14px;
    color:#223A71;
}
@media all and (max-width:767px) {
  .self-pump-section {
    padding: 64px 0 0;
}
.pro-slider-div a{
font-size: 12px;
    padding: 8px 10px;
}
}
/*products-section*/
.products-section{
  padding: 64px 0;
}
.products-img-div{
  width: 65%;
    float: left;
    text-align: center;
}
.products-desc{
  width: 35%;
  float: left;;
}
.products-img-div h1{
  font-size: 48px;
  line-height: 59px;
  color: #213A71;
  font-weight: bold;
  text-align: left;
}
.products-img-div a{
  color: #0372BA;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: inherit;
    text-align: left;
    padding-bottom: 5px;
}
.cir-tag{
  width: 122px;
    height: 122px;
    line-height: 122px;
    border-radius: 100px;
    text-align: center;
    background-color: #213A71;
    box-shadow: 0 0 0 5px #ffffff inset;
    position: absolute;
    top: 100px;
    color: #fff;
    display: flex;
    align-items: center;
}
.products-img-div img.img-zoom-pro{
  width: 490px;
  height: 490px;
  margin-bottom: 24px;
}
.cir-tag p{
font-size: 16px;
line-height: 20px;
font-weight: bold;

}
.products-desc label{
  font-size: 24px;
  line-height: 29px;
  margin-right: 10px;
}
.products-desc .social-div{
  display: inline-flex;
}
.products-desc .social-div ul{
  display: inline-flex;
    margin: -5px 0 0px;
}
.stars-div{
  width: 100%;
    float: left;
    padding: 50px 20px 0;
    max-width: 398px;
}
.stars-div i{
  color:#0372BA;
  padding-bottom: 17px;
}
.stars-div p{
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 44px;
}
.stars-div h1{
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 22px;
  text-align: left;
}
.stars-div h4{
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 23px;
}
.prod-cta{
background-color:#0372BA;
padding: 20px;
width: 100%;
color: #fff;
border-radius: 10px;
}

@media all and (max-width:767px) {
  .products-img-div {
    width: 100%;
}
.products-img-div {
    padding: 20px;
}.products-img-div img.img-zoom-pro {
    width: 300px;
    height: 300px;
}
.products-desc {
    width: 100%;
}
.products-desc label {
    font-size: 18px;
    line-height: 24px;
}
.products-desc .social-div ul {
    margin: -10px 0 0px;
}
.stars-div {
    padding: 20px 20px 0;
}
.stars-div h1 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
}
.stars-div h4 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
}
}
/*section-sepec*/
.section-sepec{
  padding-bottom: 20px;
}
.title-bg{
  float: left;
  background-color:#213A71;
  width: 65%;
  padding: 14px;
}
.title-bg h1{
  color: #fff;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: left;
}
.sepec-content{
  width: 65%;
    float: left;
    padding: 20px 0;
}
.sepec-content h2{
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 13px;
  border-bottom: 2px solid;
   max-width: 497px;
}
.sepec-content table{
  padding: 28px 0 0;
  color: #000;
  font-weight: 300;
  font-size: 18px;
    line-height: 22px;
   max-width: 497px;
}

.sepec-content table tr{
  width: 100%;
  float: left;
  border-bottom: 1px solid;
  padding: 22px 0;
}

.sepec-content table tr th,.sepec-content table tr td{
  max-width: 218px;
  font-weight: 500;
  width: 50%;
    float: left;
    padding-right: 50px;
}.sepec-img{
  width: 35%;
  float: left;
}
.sepec-box{
  width: 100%;
  float: left;
  padding: 88px 0;
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
}
.sepec-box .box{
  color: #fff;
    text-align: center;
    width: 33%;
    float: left;
    padding: 42px;
}
.sepec-box .box p{
  font-size: 19px;
  font-weight: bold;
  line-height: 23px;
}
.blue-box{
  background:#0372BA;
}
.green-box{
  background: #9CC43C;
}

@media all and (max-width:767px) {
  .title-bg {
    width: 100%;
}
.title-bg h1 {
    font-size: 30px;
    line-height: 34px;
}
.sepec-content table tr th, .sepec-content table tr td {
    padding-right: 10px;
}
.sepec-content {
    width: 100%;
    padding: 20px;
}
.sepec-box .box {
    width: 100%;
}
.sepec-box {
    display: inherit;
    padding: 64px 0;
}
}
/*section-cons-feat*/
.section-cons-feat{
  padding-bottom: 20px;
}
.sepec-content ol{
  width: 100%;
  float: left;
  padding: 53px 25px;

}
.sepec-content ol li{
  padding: 0 0 10px;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.cons-feat-right{
  width: 35%;
  float: left;
}
.cons-feat-right img{
  width: 637px;
  height: auto;
}
@media all and (max-width:767px) {
  .sepec-content ol {
    padding: 30px 20px;
}
.sepec-content ol li {
    font-size: 16px;
    line-height: 20px;
}
.img-zoom-pro.mob-show{
  padding: 20px;
}
}
/*turaco-about-product*/
.turaco-about-product{
  background-color:#223A71;
  padding: 61px;

}
.turaco-about-product h1{
  color:#9CC43C;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 37px;

}
.turaco-about-product p{
  color:#fff;
  font-size: 25px;
  line-height: 29px;
}
@media all and (max-width:767px) {
  .turaco-about-product {
    padding: 20px;
}
.turaco-about-product h1 {
    text-align: left;
}
.turaco-about-product p {
    font-size: 18px;
    line-height: 22px;
}
}
/*feat-appl-section*/
.feat-appl-section{
  padding: 79px 0 0;
}
.feat-appl-section table{
  width: 100%;
  float: left;
}

.feat-appl-section table tr th,.feat-appl-section table tr td{
  width: 50%;
  float: left;
  padding: 47px;
  border: 1px solid rgba(141, 141, 141, 0.61);
  text-transform: uppercase;
  text-align: center;
  margin-top: -3px;
}
.feat-appl-section table tr td{
  min-height: 250px;
  padding: 50px 80px;
}
.feat-appl-section table tr td ul{
  list-style: disc;
}
.feat-appl-section table tr td ul li{
  font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: left;
    text-transform: none;
    padding-bottom: 5px;
    font-weight: 500;
}
h2.slider-pro-title{
  color: #213a71;
    padding-bottom: 13px;
    margin-bottom: 83px;
    position: relative;
}
h2.slider-pro-title::after{
  content: '';
    position: absolute;
    background-color: #213a71;
    width: 497px;
    height: 2px;
    bottom: 0;
    top: 50%;
    left: 50%;
    margin: 17px 0 0;
    transform: translate(-50%, -50%);
}
.fans-slider .pro-slider-div{
  width: 25%;
  float: left;
  border:none;
  min-height: 300px;
}
.fans-slider .pro-slider-div img {
    width: 163px;
    height: 104px;
}
.products-desc ul.pro-list{
list-style: disc;
padding: 20px;
}
.products-desc ul.pro-list li{
font-size: 20px;
line-height: 34px;
font-weight: 500;
color: #000;
}
@media all and (max-width:767px) {
  .feat-appl-section table tr th{
   padding: 20px;
    font-size: 18px;
    line-height: 20px;
    min-height: 85px;
}
.feat-appl-section table tr td {
    min-height: 300px;
    padding: 20px;
}
.feat-appl-section table tr td ul li {
    font-size: 18px;
    line-height: 20px;
}
h2.slider-pro-title{
    margin: 0 20px 83px;
}
.pro-slider-div h3 {
    font-size: 18px;
    line-height: 20px;
}
.fans-slider .pro-slider-div{
  width: 50%;
  padding-bottom: 30px;
      min-height: 320px;
}
.pro-slider-div p {
  font-size: 12px;
  line-height: 16px;
}
h2.slider-pro-title::after {
    width: 300px;
}
.products-desc ul.pro-list li {
    font-size: 18px;
    line-height: 28px;
}
}
/*contact-section*/
.contact-section
{
  padding: 64px 0;
}
.contact-left{
    width: 45%;
    float: left;
}
.contact-right{
    width: 55%;
    float: left;
}
.contact-left h1 {
    font-size: 40px;
    line-height: 47px;
    padding: 0 0 28px;
    color: #213A71;
    font-weight: bold;
    text-align: left;
}
.contact-left address{
  width: 100%;
  float: left;
  font-size: 30px;
    line-height: 35px;
    font-style: inherit;
}
.contact-left address span{
  color: #9CC43C;
    font-size: 25px;
    line-height: 29px;
    padding: 50px 0 24px;
    width: 100%;
    float: left;
}
.contact-left address p{
  color: #223A71;
    font-size: 25px;
    line-height: 29px;
    padding: 0 0 13px;
    width: 100%;
    float: left;
}
.contact-right img{
  padding: 100px 0px 0 70px;
}
.form-section{
 width: 100%;
    height: auto;
    background: url(../images/bg-form.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 95px;
}
.form-section h1{
  color:#9CC43C;
  font-size: 25px;
  line-height: 30px;
  padding: 47px 0 29px;
  text-transform: uppercase;
}
.form-div{
width: 100%;
max-width: 960px;
    margin: 0 auto;
}
.form-box{
  width: 100%;
  float: left;
    padding: 100px 58px 33px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 8px #8f8f8f;
}
.form-box form input[type="text"],.form-box form input[type="number"]{
 width: 48%;
    float: left;
    padding: 20px;
    border-radius: 5px;
    color: #939598;
    border: 1px solid;
    margin: 0 5px 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
.form-box form textarea{
  width: 97%;
    float: left;
    padding: 20px;
    border-radius: 5px;
    color: #939598;
    border: 1px solid;
    margin: 0 5px 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;}

    .form-box input[type="submit"]{
      background: #0372BA;
      padding: 32px 10px;
  margin: 30px auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px;
  width: 100%;
  max-width: 311px;
  float: left;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: #fff;
  text-transform: uppercase;
    }
    .section-div iframe {
    border: none;
    width: 100%;
    min-height: 400px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}
@media all and (max-width:767px) {
  .contact-left,.contact-right{
    width: 100%;
    padding: 0 20px;
  }
  .contact-right img{
    padding: 0 0;
  }
  .contact-left h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .contact-left address {
      font-size: 18px;
      line-height: 20px;
  }
  .contact-left address span {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0 11px;
  }
  .contact-left address p {
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 8px;
  }
  .form-div {
    width: 100%;
    max-width: 960px;
    padding: 20px;
}
.form-box {
    padding: 20px;
}
.form-box form input[type="text"], .form-box form input[type="number"], .form-box form textarea {
    width: 100%;
}
}